reference/D_IPSerial.json
reference/D_IPSerial.xml
reference/D_SamsungLCDTV1.xml
reference/I_IPSerial.xml
reference/I_SamsungLCDTV1.xml
reference/notes.txt
reference/serial digi settings.txt
reference/turn_tv_on.lua
reference
